.weatherLoc{
    display: flex;
}

.report{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin:0 auto;
    padding-top: 70px;
}

.temperature .value{
    font-size: 80px;
    font-weight: 600;
    color: #2a5261;
}

.description p{
    font-size: 25px;
    font-weight: 600;
    color: #2a5261;
}

.title, .date{
    font-size: 20px;
    font-weight: 700;
    color: #2a5261;
    text-align: center;
}

.value{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #2a5261;
}

.searcher{
    display: flex;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.searcher .inputValue{
    background: #2a5261;
    height: 40px;
    width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 3px;
    color: #fff;
    border: none
}

.searcher .submit{
    background: #2a5261;
    height: 40px;
    border-left-color: 1px solid #fff ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3px;
    color: #fff;
    border: none
}

.searcher .inputValue:focus, .searcher .submit:focus{
    outline: none;
}

.day{
    border: 1px solid #2a5261;
    border-bottom: 2px solid #2a5261;
    border-radius: 10px;
    padding: 10px;
}

@media (max-width: 1366px) {
    .weatherLoc{
        margin-right: auto;
        margin-left: auto;
    }

    .report{
        display: block;
    }

    .feelTemp, .minTemp, .maxTemp, .pressure, .humidity, .wind{
        display: flex;
        justify-content: space-between;
    }

    .searcher{
        display: flex;
        margin-bottom: 0;
        padding-bottom: 20px;
    }
    .day{
        border: 0;
        border-top: 1px solid #2a5261;
        border-radius: 0;
        display: flex;
        justify-content: space-between;
    }
    .date{
        margin-top: auto;
        margin-bottom: auto;
    }

    .value p{
        margin-top: auto;
        margin-bottom: auto;
    }

    .day img{
        max-height: 50px;
    }

}
